@import "./base";
.RadioTransparent.ant-radio-button-wrapper {
  color: $color-grey-light-1;
  background-color: transparent;
  padding: 0 2rem;

  &:hover {
    color: $color-grey-light-3;
  }
  &.ant-radio-button-wrapper-checked {
    background-color: $color-grey-light-1;
    color: $color-grey-dark-1;
    outline: none;
    border: none;
    &:hover {
      color: currentColor;
    }
  }
  & > span {
    padding: 0 2rem;
  }
}
.RadioTransparent.ant-radio-button-wrapper-checked::before {
  background-color: transparent !important;
  &:hover {
    background-color: transparent;
  }
}

.input.ant-input {
  border-radius: 2px;
}

.leaflet-container {
  width: 50wh;
  height: 50vh;
}

.ant-color-picker-trigger.custom-color-picker{
  min-width: 10rem;

  .ant-color-picker-color-block{
    min-width: 8rem;
  }
}
