.heading--2 {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 0;
}

.heading--3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
}

.center {
  text-align: center !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.text--dark-2 {
  color: $color-grey-dark-2 !important;
}
.text--dark-3 {
  color: $color-grey-dark-3 !important;
}

.text--light-2 {
  color: $color-grey-light-2 !important;
}
.transparent {
  background-color: transparent !important;
}
.danger-text {
  color: $color-danger-dark !important;
}
.bg-color-grey-light-2 {
  background-color: $color-grey-light-2 !important;
}
.padding-25 {
  padding: 2.5rem !important;
}
