.ant-modal-content {
  .ant-modal-header {
    .ant-modal-title {
      font-size: $font24;
      font-weight: $fontMedium;
      text-align: center;
    }
  }

  .ant-modal-body {
    font-size: $font18;
    padding: 10px 20px;
  }
}