@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');
$body-bg:#f1eee7;
$color-text:#333333;
$color-dark:#000;
$color-primary:#0099CC;
$color-primary-dark:#006080;
$color-secondary:#F7901E;
$color-danger:rgb(169, 68, 66);
$error-color:rgb(169, 68, 66);
$border-color:#eae6db;



$font30:30px;
$font26:26px;
$font24:24px;
$font18:18px;
$font16:16px;
$font14:14px;
$font12:12px;
$fontNormal:300;
$fontMedium:400;
$fontSemiBold:700;